Source: crypto-config
Section: admin
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Adrien Nader <adrien.nader@canonical.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 asciidoctor,
Standards-Version: 4.7.0
Homepage: https://www.github.com/canonical/crypto-config
Vcs-Browser: https://www.github.com/canonical/crypto-config
Vcs-Git: https://www.github.com/canonical/crypto-config.git

Package: crypto-config
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Atomic management of related cryptographic options
 Crypto-config enables managing related configuration options in an atomic
 manner. It makes it possible to enable or disable an element across all
 software enrolled in the scheme. It is meant to offer system administrators a
 way to filter cryptographic algorithms and key sizes system-wide.
